* {
  box-sizing: border-box;
}

/* general */
body {
  background-color: #01707d;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

header, .border, .contact-container {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

header h1 {
  color: #F8F4E3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 42px;
  margin: 0;
  padding: 20px;
  text-align: center;
}

main div {
  height: auto;  
  padding-bottom: 5%;
}

article {
  display: inline-block;
  margin: 2%;
}

h2 {
  flex-basis: 100%;
  margin: 0 0 19px 0;
  text-align: center;
}

img {
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.border, .contact-container {
  border-bottom: 1px solid black;
}

.contact-container {
  background-color: #F8F4E3;
  padding-top: 1px;
  padding-bottom: 5px;
  padding-left: 10px;
  height: auto;
}

.large {
  max-height: 0;
  visibility: hidden;
}

.supplement {
  max-height: 0;
  visibility: hidden;
}

/* groups */
.group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

/* responsive media code */
@media all and (min-width: 400px) {
  img {
    width: 320px
  }
}

@media all and (min-width: 600px) {
  .rockFalls, .trail {
    margin: 0 10px 10px 10px;
  }

  .rockFalls {
    float: left;  
  }

  .trail {
    float: right;
  }
}  

@media all and (min-width: 660px) {
  .group {
    flex-direction: row;
  }

  .large {
    max-height: none;
    visibility: visible;
  }

  .small {
    max-height: 0;
    visibility: hidden;
  }  
}  