/* responsive media code */
@media all and (min-width: 600px) {
  .rockFalls, .trail {
    margin: 0 10px 10px 10px;
  }

  .rockFalls {
    float: left;  
  }

  .trail {
    float: right;
  }
}  

@media all and (min-width: 660px) {
  .group {
    flex-direction: row;
  }

  .large {
    max-height: none;
    visibility: visible;
  }

  .small {
    max-height: 0;
    visibility: hidden;
  }  
}  